Page {
    /* background-image: ~/images/background.jpg; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #182126;
}

ActionBar {
    background-color: #182126;
    color: white;
}

.topBar {
    background-color: #182126;
    margin-top: 0
}
.bottomBar {
    background-color: #0E1417;
    padding: 5;
}
.map {
    margin-top: 0; 
    margin-left: 0;

}

.sidedrawer-content {
    padding: 0;
    background-color: #2b3438;
    separator-color: lightgray;
}
.sidedrawer-left {
    background-color: #2b3438
}
.list-pilots {
    background-color: #2b3438;
}
.lineDivider {
    margin-bottom: -60;
}

.butDrawer {
    width: 25;
    height: 25;
    margin-left: -90;
    margin-top: -20;
}
.totActive {
    color: white;
    font-size: 24;
    margin-left: 20;
    text-align: left;
    margin-top: 0;
    font-weight: bold;
}


.listPhoto {
    width: 40;
    height: 40;
    background-size: cover;
    display: block;
    border-radius: 20;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-color: lightgray;
    border-width: 2;
    margin-bottom: 5;
    margin-top: 5;
    margin-left: 5;
}
.listNick {
    color: white;
    font-size: 18;
    font-weight: bold;
    text-align: left;
    margin-left: -5;
    margin-top: -15;
}
.listDistance {
    color: white;
    font-size: 18;
    font-weight: bold;
    text-align: right;
    margin-right: 5;
    margin-top: -15;
}
.listAltitude {
    color: lightgray;
    font-size: 16;
    text-align: left;
    margin-left: 50;
    margin-top: 25;
}
.listIcon {
    width: 18;
    height: 18;
    margin-left: 30;
    margin-top: 20;
}
.listHeading {
    color: lightgray;
    font-size: 16;
    text-align: left;
    margin-left: -5;
    margin-top: 25;
}
.listSpeed {
    color: lightgray;
    font-size: 16;
    text-align: right;
    margin-right: 5;
    margin-top: 25;
}


.compass {
    width: 35;
    margin-right: -240;
    margin-top: 200;
}
.compassBack {
    margin-top: 60;
    height: 40;


}

.compassHead {
    width: 14;
    height: 9;
    margin-left: -250;
    margin-bottom: -880;
}
.altIcon {
    margin-top: -50;
    margin-left: 5;
    width: 11;
    height: 11;
}
.altTag {
    color: lightgray;
    font-size: 10;
    margin-right: 5;
    margin-top: 40;
    align-content: right;
    text-align: right;
}
.altText {
    color: white;
    font-size: 72;
    margin-right: 10;
    margin-top: 0;
    align-content: right;
    text-align: right;
    text-decoration-style: solid;
}
.durIcon {
    margin-top:-50;
    margin-left: 0; /*-50 Portrait, -95 landscape */
    width: 11;
    height: 11;
}
.durTag {
    color: lightgray;
    font-size: 10;
    margin-left: 5;
    margin-top: 25;
    align-content: center;
    text-align: center;
}
.durText {
    color: white;
    font-size: 28;
    margin-left: 5;
    margin-top: -10;
    align-content: center;
    text-align: center;
}
.distIcon {
    margin-top:-50;
    /*margin-right: 0; -50 Portrait, -95 landscape */
    width: 11;
    height: 11;
    margin-left: 25;
}
.distTag {
    color: lightgray;
    font-size: 10;
    margin-right: 0;
    margin-top: 25;
    align-content: right;
    text-align: right;
}
.distText {
    margin-top:-10;
    color: white;
    font-size: 28;
    text-align: right;
    margin-right: 0; /*15 Portrait, 30 landscape */
    margin-left: 20;
    align-content: right;
}
.originHead {
    color: white;
    font-size: 18;
    margin-left: 5;
    margin-top: 18;
    text-align: left;
}
.originDist {
    color: white;
    font-size: 16;
    margin-top: 15;
    text-align: left;
    margin-top: 38;
    margin-left: 2;
}
.originDur {
    color: white;
    font-size: 24;
    font-weight: bold;
    margin-top: 12;
    text-align: left;
    margin-left: 0;
}
.speedIcon {
    margin-top: -40;
    margin-left: 5;
    width: 11;
    height: 11;
    align-content: left;
    align-items: left;
    align-self: left;
}
.speedTag {
    color: lightgray;
    font-size: 10;
    margin-left: 5;
    margin-top: 45;
    align-content: left;
    text-align: left;
}
.speedText {
    color: white;
    font-size: 72;
    margin-left: 60;
    text-align: left;
    text-decoration-style: solid;
}
.maxSpeedText {
    color: #adff2f;
    font-size: 28;
    font-weight: bold;
    margin-left: 5;
    margin-top: 0;
    align-content: left;
    text-align: left;
}

/* iOS */
.originText {
    color: #0E1417;
    font-size: 10;
    margin-left: 5;
    margin-top: -25;
}


.originHead {
    color: white;
    font-size: 18;
    margin-left: 5;
    margin-top: 5;
    text-align: left;
}
.originDur {
    color: white;
    font-size: 24;
    font-weight: normal;
    margin-top: 5;
    text-align: center;
}
.originDist {
    color: white;
    font-size: 24;
    text-align: right;
    margin-top: 5;
    margin-left: 0;
    margin-right: 5;
}
.panic {
    background-color: #3AB8FF;
}

.butt {
    margin: 5;
    background-color: #4DD964; /* #adff2f */
    border-width: 0;
    color: white;
    font-size: 18;
}


.mph {
    color: red;
    font-size: 9;
    align-content: center;
    text-align: center;
    vertical-align: bottom;
    margin-left: -250;
    margin-bottom: -685;
}

.headingIcon {
    height: 14;
    align-content: right;
    align-items: right;
    align-self: right;
    margin-top: -10;
    margin-left: -70;
}
.headingText {
    color: white;
    font-size: 18;
    margin-right: 5;
    text-align: right;
    vertical-align: bottom;
    margin-bottom: 5;
}
.landAlert {
    color: white;
    font-size: 14;
    margin-top: 0;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 5;
    margin-left: 0;
    font-weight: bold;
}


/* Landscape */
.ios.landscape .compass { /* iOS */
    width: 100;
    height: 100;
    margin-left: -550;
    margin-bottom:-100;
}
.ios.landscape .compassHead { /* iOS */
    width: 14;
    height: 9;
    margin-left: -550;
    margin-bottom: 0;
}
.ios.landscape .speedText { /* iOS */
    color: white;
    font-size: 40;
    margin-left: -550;
    margin-bottom: -100;
    text-align: center;
    text-decoration-style: solid;
}
.ios.landscape .mph { /* any name similar to mphText renders it wrongly;  margin-top: 192;*/
    color: red;
    font-size: 9;
    margin-left: -550;
    margin-bottom: 40;
}






ListView {
    separator-color: lightgray;
    background-color: #1F272A;
    padding: 5;
    /*height: 600;*/ 
}

.settingsIcon {
    width: 24;
    height: 23.51;
    margin-right: 15;
}
.dashIcon {
    width: 24;
    height: 24;
    margin-left: 15;
}
.flightsIcon {
    width: 24;
    height: 16.41;
}

.activePilotsIcon {
    width: 28;
    height: 28;
}

.ppgIcon {
    margin-bottom: 0;
    height: 24;
}
.windIcon {
    height: 20;
    margin-bottom:-80;
    margin-left: -80;
}
.windText {
    color: white;
    font-size: 24;
    text-align: right;
    vertical-align: bottom;
    margin-bottom: -20;
    font-weight: bold;
    margin-left: -180;
}
.headingIcon {
    height: 24;
    margin-bottom: -90;
    margin-left: 80;
}
.headingCompassIcon {
    height: 18;
    margin-bottom: -80;
    margin-left: 80;
}
.headingText {
    color: white;
    font-size: 24;
    text-align: left;
    vertical-align: bottom;
    margin-bottom: -20;
    font-weight: bold;
    margin-left: 180;
}
.compassBack {
    margin-top: 60;
    height: 36;
}