Page {
    background-image: ~/images/defaultScreen.png;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #171b1c; /*182126;*/
}

.btn_secundary {
  background-color: transparent;
  border-width: 1;
  border-color: transparent;
  font-size: 20;
  margin-top: 10;
  color:#007DFA;
}
.android .btn_secundary {
  background-color: transparent;
  border-width: 1;
  border-color: transparent;
  font-size: 20;
  margin-top: 0;
  color:#007DFA;
}

.loginButtons {
    margin-top: 20;
}

Button {
  height: 50;
}

.version{
  color: white;
  font-size: 12;
}

.welcome{
  color: white;
  font-size: 14;
}

.butEmail {
  background-color: #FD4220;
}