.settingsIcon {
    height: 28;
    margin-right: 25;
}
.dashIcon {
    height: 28;
    margin-left: 25;
}
.flightsIcon {
    height: 22;
}

.list-group-item-heading {
    color: #30BCFF;
    font-size: 18;
    padding-top: 15;
    padding-left: 10;
    padding-bottom: 15;
    font-weight: bold;
}
.place {
    color: lightgray;
    font-size: 14;
    padding-left: 10;
    font-weight: 500;
    margin-top: -10;
    margin-bottom: 10;
}


.hTime {
    color: gray;
    font-size: 14;
    text-align: right;
    margin-right:0;

}
.mphTime {
    color: gray;
    font-size: 14;
    text-align: right;
    margin-right:5;

}

.stackRight {
    horizontal-align: right;
    margin-right:5;
}

.delete-btn{
    background-color: #F44336;
    color: white;
    font-size: 16;
}

.rating {
    /*
    color: white;
    font-size: 14;
    text-align: right;
    margin-right:5;
    margin-top: -15;
    font-weight: 500;
    */
    /*
    color: red;
    width: 20;
    height: 20;
    background-size: cover;
    display: block;
    border-radius: 10;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-color: lightgray;
    border-width: 0;
    margin-bottom: 5;
    margin-top: -15;
    margin-right: 10;
    background-color: red;
    */
    width: 16;
    height: 16;
    margin-bottom: 5;
    margin-top: -15;
    margin-right: 25;
}



.flightDistance {
    color: white;
    font-size: 18;
    text-align: right;
    margin-right:17;
    margin-top: 0;
}
.flightTime {
    color: white;
    font-size: 18;
    text-align: right;
    margin-right:10;
    margin-top: 0;
}
.flightSpeed {
    color: white;
    font-size: 18;
    text-align: right;
    margin-right:34;
    margin-top: 0;
}

.camera {  /*images for snap and buddies */
    height: 12;
    margin-top: -20;
    margin-bottom: 5;
    margin-top: -15;
    margin-right: 0;
}
.snap { /*text for snap and buddies */
    color: lightgray;
    font-size: 14;
    font-weight: 500;
    margin-top: -10;
    margin-bottom: 10;
    margin-right: 25;
}